server:
  port: :10001
  name: test_tecture
  debug: true
  ReadTimeout: 5
  WriteTimeout: 5
  CtxDefaultTimeout: 15
  readTimeout: 5
  writeTimeout: 5
  maxConnectionIdle: 5
  maxConnectionAge: 5

log:
  encoding: json
  level: debug
  devMode: true

postgres:
  Host: localhost
  Port: 5432
  User: postgres
  Password: postgres
  Dbname: tecture
  Sslmode: disable
  PgDriver: pgx
  CreateDb: true

jaeger:
  Host: localhost:6831
  LogSpans: false

redis:
  Host: "localhost:6379"
  Password:
  DefaultDB: 0
  MinIdleConn: 200
  PoolSize: 12000
  PoolTimeout: 240
  DB: 0

nats:
  URL: "localhost:4222"
  ClusterID: microservice
  ClientID: microservice_a
  ProcessTimeout: 3