server:
  port: :10001
  name: test_tecture
  debug: true

log:
  encoding: json
  level: debug
  devMode: true

postgres:
  Host: localhost
  Port: 5432
  User: postgres
  Password: postgres
  Dbname: tecture
  Sslmode: require
  PgDriver: pgx
  CreateDb: true

jaeger:
  Host: localhost:6831
  LogSpans: false

Redis:
  Host: "localhost:6379"
  Password:
  DefaultDB: 0
  MinIdleConn: 200
  PoolSize: 12000
  PoolTimeout: 240
  DB: 0